/* #div1{
    width: 300px;
    height: 300px;
    background-color: rgb(113, 138, 108);
    margin-top: 100px;
}*/
body{
    background-image: url(./various-book-books-college.jpg);
  background-size: cover;
} 
#div1{
    
        height: 250px;
        width: 200px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
    }
    